.about {
  h2 {
    color: #36536b;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .ready {
    margin: 5rem 0;
  }
  img {
    margin: 4rem auto 2rem;
  }
  hr {
    border: none;
    height: 1px;
    width: 80%;
    margin: 1rem auto;
    background-color: #36536b;
    opacity: 0.3;
  }
}
