.introduction {
  img {
    width: 50%;
    margin: 0 auto;
  }
  h1 {
    margin: 0 auto 2rem;
    text-align: center;
    width: 95%;
    height: 100%;
  }
  input,
  button {
    display: block;
    width: 90%;
    margin: 1rem auto;
    border-radius: 2rem;
    border: none;
  }
  input {
    background-color: #fbfcfe;
    padding: 1rem 2rem;
    box-shadow: 20px 0px 30px rgba(133, 133, 133, 0.3);
    outline: none;
    color: #36536b;
  }
  button {
    padding: 1rem 2rem;
    background-color: #ba4270;
  }
  p {
    text-align: center;
    color: #6c8294;
    strong {
      color: #36536b;
    }
  }
}
