.introduction {
  img {
    width: 50%;
    margin: 0 auto;
  }
  h1 {
    margin: 0 auto 2rem;
    text-align: center;
    width: 95%;
    height: 100%;
  }
  p {
    text-align: center;
    color: #6c8294;
    strong {
      color: #36536b;
    }
  }
  .linkComponent {
    text-decoration: none;
  }
}
