.pricing {
  h4,
  h1 {
    text-align: center;
    margin: 1rem 0;
  }
  .heading-one.small {
    margin-bottom: 3rem;
  }
  h4 {
    margin-bottom: 5rem;
  }
  h2 {
    text-align: center;
    color: #36536b;
  }
}
