.navigation {
  background-color: #1b262f;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100vw;
  width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 350ms ease-in-out;
  hr {
    width: 80%;
    border-bottom: 1px solid #97979704;
    margin: 6rem 0 3rem 0;
  }
  .links {
    display: flex;
    flex-direction: column;
    .linkComponent {
      text-decoration: none;
      z-index: 50;
    }
    .link {
      display: block;
      margin: 1rem 0;
      opacity: 0.7;
      color: #fbfcfe;
    }
  }
  button {
    height: 3rem;
    background-color: #ba4270;
    width: 80%;
    border-radius: 2rem;
    margin: 2rem 0;
  }
}

.navigation-active {
  right: 0;
  width: 80%;
}
